@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* Importing Google Fonts */

* {
  padding: 0; /* Resetting padding */
  margin: 0; /* Resetting margin */
  box-sizing: border-box; /* Applying border-box box-sizing */
  font-family: "Poppins", sans-serif; /* Setting default font family */
}

.option {
  width: calc(30% - 10px); /* Adjusting width for options */
  padding: 10px; /* Applying padding */
  border: 1px solid #ccc; /* Applying border */
  text-align: center; /* Centering text */
  margin-bottom: 10px; /* Adding bottom margin */
  cursor: pointer; /* Setting cursor to pointer */
}

.right {
  background-color: lightgreen !important; /* Background color for correct option */
}

.wrong {
  background-color: lightcoral; /* Background color for wrong option */
}

.option.selected {
  background-color: lightgreen; /* Background color for selected option */
}
